 <!-- Page Content-->
 <div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Curriculum Vitae</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <h2 class="text-primary fw-bolder mb-4">Experience</h2>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2025 - present</div>
                                    <div class="small fw-bolder">Software Developer (Werkstudent)</div>
                                    <div class="small text-muted">neeyo Deutschland GmbH</div>
                                    <div class="small text-muted fst-italic">formerly Formware GmbH</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>After finishing my apprenticeship I stayed on full-time in February and March 2025 before starting my studies. Since then I have returned as a working student (20 h/week) for about 6-8 weeks during each summer semester break, working as part of the regular development team.</div></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Education Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                <!-- Education Card: Studium-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2025 - present</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">OTH Regensburg</div>
                                        <div class="small text-muted">Regensburg, Bayern</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">B.Sc. Computer Science</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Since the summer semester 2025 I have been studying computer science at OTH Regensburg to deepen the theoretical foundations behind my practical experience.</div></div>
                        </div>
                    </div>
                </div>
                <!-- Education Card: Ausbildung-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2022 - 2025</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Formware GmbH</div>
                                        <div class="small text-muted">now neeyo Deutschland GmbH</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Fachinformatiker für Anwendungsentwicklung</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>I completed my apprenticeship as a Fachinformatiker für Anwendungsentwicklung in February 2025. Over 2.5 years I learned professional software development and gained experience in a wide range of topics.</div></div>
                        </div>
                    </div>
                </div>
                <!-- Education Card: TUM-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2020 - 2022</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder"></div>
                                        <div class="small text-muted">TU Munich</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Electrical Engineering</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>I tried to study electrical engineering for about 3 semesters. Although i ultimately decided it was not the right subject for me, I was introduced to coding this way.</div></div>
                        </div>
                    </div>
                </div>
                <!-- Education Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2020</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Gymnasium Raubling</div>
                                        <div class="small text-muted">Raubling, Bayern</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Abitur</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>I finished school with the abitur in the year 2020 with the grade 2,0.</div></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Backend Development</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Hosting</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Database Design</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Interface Design</div></div>
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                            </div>
                            <div class="small text-muted fw-bolder mb-2">Strongest</div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C#</div></div>
                            </div>
                            <div class="small text-muted fw-bolder mb-2">Also familiar with</div>
                            <div class="row row-cols-1 row-cols-md-3 g-2">
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Flutter</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>